*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.container-fluid{
    width: 40%;
    margin: auto;
}
.header{
    margin-bottom: 30px;
    text-align: center;
}
.content{
    text-align: center;
    margin: auto;
}

.carContent ul li {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.carContent ul {
    margin-bottom: 20px;
    margin-top: 10px;
}
.companyName {
    display: flex;
}

.leftBtn,.rightBtn {
    font-size: 14px; 
    padding: 3px 9px; 
    margin-right: 5px;
 }
.pagination{
    margin-top: 15px;
    margin-left: 65.7%;
}

@media (max-width:1509){
    .leftBtn{
      margin-right: 0px;
    }
}