<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<div class="modal-header">
    <h4 class="modal-title">Delete Car</h4>
  </div>
  <div class="modal-body">

    <ul>
        <li>
            <div class="carNumber">

            </div>
            <div class="deleteCar" >
            <i class="fa-solid fa-trash-can"></i>    
            </div>
            
        </li>
    </ul>

  </div>
  