<app-nav-bar></app-nav-bar>
<div class="history-content">
  <div class="search-container">
    <div class="form-inline mt-2">
      <input class="form-control mr-2" #search style="width: 300px" placeholder="Search" type="text">
    </div>
  </div>
  <div class="tabset-container">
    <tabset>
      <tab heading="Card Number" id="tab1">Card Number</tab>
      <tab heading="Car Number">Car Number</tab>
      <tab heading="Liters">Liters</tab>
      <tab heading="Fill Date/Time">Fill Date/Time</tab>
    </tabset>
  </div>
</div>
