<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">



<button class=" burgerbtn" [ngClass]="{'button-open': isSidebarOpen, '': !isSidebarOpen}" (click)="toggleSidebar()">
  <ng-container *ngIf="!isSidebarOpen">
    <i class="fa-solid fa-bars"></i> 
  </ng-container>
  <ng-container *ngIf="isSidebarOpen">
    <i class="fa-solid fa-x"></i> 
  </ng-container>
</button> 
<div class="sidebar" [ngClass]="{'sidebar-open': isSidebarOpen, '': !isSidebarOpen}">

  <a routerLink="/home" class="sidebar-brand">
    <!-- <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg> -->
    <span class="fs-4 logo">MYGPS Admin</span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">


   <li class="nav-item regitem">
    <div class="dropdown">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Company Management
       </a>
    
      <ul class="dropdown-menu ">
        <li class="carReg">
          <a class="nav-link text-white" aria-current="page" routerLinkActive="active" (click)="openModal()">
  
          Car Registration
        </a>
      </li>
        <li class="carDel">
          <a class="dropdown-item nav-link text-white " (click)="openDeleteModal()">Delete Car</a>
        </li>
        
        <li class="companyReg">
          <a class="dropdown-item nav-link text-white " (click)="openCompanyRegistration()"> Add Company </a>
        </li>

        <li class="deleteCompany">
          <a class="dropdown-item nav-link text-white " (click)="openCompanyDelete()"> Delete Company </a>
        </li>

      </ul>
    </div>
  </li> 

  </ul>

  <button *ngIf="isAdmin" class="btn btn-primary mb-3" (click)="openNotification()">User Approval</button>



  <hr>
  <div class="dropdown">
    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
      <img src="./assets/imgs/man.png" alt="" width="32" height="32" class="rounded-circle me-2" style="background-color: darkgrey">
      <strong >{{userName}}</strong>
    </a>
    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1" >
      <li><a *ngIf="isAdmin" class="dropdown-item" (click)="open()" style="cursor: pointer;">User registration</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Sign out</a></li>
    </ul>
  </div>
</div> 

<div class="maincontainer" [ngClass]="{'maincontainer-open': isSidebarOpen, '': !isSidebarOpen}" (click)="toggleSidebar()">
  <div class="tablediv">
    <div class="history-content">
  <div class="search-container">
    <div class="form-inline mt-2 formControlDiv">
      <input [(ngModel)]="filterTxt" class="form-control mr-2" #search style="width: 300px" placeholder="Search" type="text">
      <div class="datePicker">
        <label class="dateLabel firstlabel">Choose date from:</label>
        <input type="text" class="form-control" placeholder="MM/DD/YY" bsDatepicker [(bsValue)]="startDate">
        <label class="dateLabel">to:</label>
        <input type="text" class="form-control" placeholder="MM/DD/YY" bsDatepicker [(bsValue)]="endDate">

        <button  class="btn filterbtn" (click)=" fillCarsInfoByDate();">Filter</button>

      </div>
    </div>
  </div>
  <div class="table-container">
    <table class="table">
      <thead>
      <tr class="headtr">
        <th >Card Number</th>
        <th >Car Number</th>
        <th class="literth">Liters</th>
        <th >Fill Date/Time</th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let data of carsData | search: filterTxt" >
        <tr (click)=" returnCardID(data.cardID); getCountById(); fillCarsInfoById();" style="cursor: pointer;">
          <td>{{ data.cardID }}</td>
          <td>{{ data.carNumber }}</td>

          <td>sum: {{data.liters}} </td>

          <td></td>
        </tr>
        <tr *ngIf="data.expanded">
          <td></td>
          <td></td>
          <td colspan="2">
            <table>
              <tbody>
              <tr *ngFor="let item of carsDataById">
                <td class="liters-column">{{ item.liters }}</td>
                <td class="fill-datetime-column">{{ item.timeInserted | date:'yyyy-MM-dd ' }}<strong>{{ item.timeInserted | date:'HH:mm' }}</strong></td>

              </tr>

              <tr>
                <td align="right">
                  <div class="pagination" style="margin-top: 15px;">
                  <div class ="page_info float-right">
                  <button class="btn btn-primary leftBtn"  (click)="previousPage()"><i class="fa-solid fa-chevron-left"></i></button>
                  <button class="btn btn-primary rightBtn" (click)="nextPage()" ><i class="fa-solid fa-chevron-right"></i></button>
                </div>
              </div>
                </td>
              </tr>


              </tbody>
            </table>
          </td>
        </tr>
        
      </ng-container>
      </tbody>
      
    </table>
  </div>
  </div>
</div>
  <div class="pagdiv">
     <div class="pagination2" style="margin-top: 15px;">
    <div class ="page_info">
    <button class="btn btn-primary leftBtn"  (click)="previousMainPage()"><i class="fa-solid fa-chevron-left"></i></button>
    <button class="btn btn-primary rightBtn" (click)="nextMainPage()" ><i class="fa-solid fa-chevron-right"></i></button>
  </div>
</div> 
  </div>
</div>



