.tableContainer{
    width: 65%;
    margin: auto;
    border: 1px solid rgba(179, 170, 170, 0.404);
    border-radius: 7px;
}
th {
text-align: center;
background-color: #343a40 !important;
color: white;
font-weight: bold;

}
td{
    text-align: center;
    font-weight: bold;
}
.paginator{
    margin: 20px 0;
}
.carNumber{
    color: red !important;
}