<!-- <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap" rel="stylesheet">
  </head>
  
  
  <div class="container-fluid">
    <form>
        <div class="addCompany">
            <h1>Add Company Here</h1>
            <div class="form-floating mb-3 mt-3 emailinp">
             <input type="text" name="companyname" id="companyname">
             <label for="companyname">Company Name</label>
            </div>
        </div>
    </form>
</div> -->
<p>Add Compnay Works</p>