
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.container-fluid{
    width: 50%;
    margin: auto;
}
.header{
    margin-bottom: 30px;
    text-align: center;
}
.content{
    text-align: center;
    margin: auto;
}

.tagContent ul li {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.tagContent ul {
    margin-bottom: 20px;
    margin-top: 10px;
}

.leftBtn,.rightBtn {
    font-size: 14px; 
    padding: 3px 9px; 
    margin-right: 5px;
 }
.pagination{
    margin-top: 15px;
    margin-left: 65.7%;
}

@media (max-width:1509){
    .leftBtn{
      margin-right: 0px;
    }
}
.inputdiv{
    display: flex;
    margin-bottom: 50px;
}
.searchbtn{
    margin-left: 10px;
    padding: 3px 15px;

}